.product_detail_wrap {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 40% auto;
  gap: 2rem;

  .detail_img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
    img {
      height: 100% !important;
      width: 100%;
      object-fit: fill;
    }
  }
  .detail_info {
    p {
      margin-top: 15px;
      font-size: 15px;
      span,
      label {
        font-weight: bold;
        padding-right: 5px;
      }
    }
    .detail_title {
      padding: 20px 0;
      font-weight: bold;
      border-bottom: 1px solid var(--color-gray);
      font-size: 1.8rem;
    }
    .detail_select {
      select {
        margin-left: 5px;
        padding: 3px;
        width: 30%;
        border: 1px dashed var(--color-black);
        outline: none;
      }
    }
    .detail_desc {
      margin-bottom: 30px;
      line-height: 1.8;
      color: var(--color-black);
    }
  }
}

@media (max-width: 640px) {
  .product_detail_wrap {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
