.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: var(--color-accent);
  color: var(--color-black);
  font-weight: bold;
}

.button.white {
  margin: 10px 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

.button:hover {
  filter: brightness(1.2);
}

.button svg {
  margin-left: 10px;
  font-size: 18px;
}
