.product {
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  line-height: 24px;
  transition: all 200ms ease-in;
}
.product:hover {
  transform: scale(1.02);
}
.product img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  margin: 5px 0;
  font-weight: bold;
}
.img_box {
  position: relative;
  overflow: hidden;
}
.description {
  transition: all 300ms ease-out;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  line-height: 24px;
  font-size: 14px;
  background-color: var(--color-accent);
  opacity: 0.65;
}

.product:hover .description {
  transform: translateY(0%);
}

.category {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--color-accent);
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
}
