.popup {
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: 98;
}

.content {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
}

.text {
  width: 80%;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 640px) {
  .popup {
    display: none;
  }
}
