h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
h2.main {
  font-size: 30px;
  margin-bottom: 50px;
}
.common_inner {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .common_inner {
    width: 95%;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
